
* {
	box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.main-nav {
	margin-top: 5px;

}

.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
    color: azure;
    display: flex;
	padding-top: .5em;
	padding-bottom: .5em;
    padding-left: .5em;
	border: 0.5px solid #243b55;
	background-color: #141e30;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table#leaderboard {
    width: fit-content;
    height: 300px;
    border: 1px solid #34495e;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 20px;
    float: right;
    border-style:ridge;
}

#leaderboard tr{
    width: min-content;
}
#leaderboard th{
    width: min-content;
    padding-left: 27px;
    padding-right: 27px;
}

table {
    padding: 10px;
    margin: 10px;
    display: flex;
    width: fit-content;
    border: 1px solid;
    color: #34495e
}
th,td {
    border-bottom: 1px solid;
    
}


tr:hover {background-color: #718daa}



.container {
    padding: 5px;
    margin: 5px;
    width: min-content;
    display: flex;
    margin-bottom: 10px;
    
}

.container h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

form {

    background-color: rgba(0,0,0,.5);
    padding-bottom: 3em;
    padding-right: 4em;
    padding-left: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 10px;
    max-width: 400px;
    border-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
}



.form-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form-content a {
    color: azure;
}

input {
    color: rgb(66, 66, 66);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border: none;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1.2em; 
    width: 100%;
}

input textarea {
    inline-size: 150px;
    overflow-wrap: break-word;
    
}

label {
    color: azure;
}
  
button {
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #243b55;
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}

.pieContainer h2 {
    margin-left: 250px;
    margin-top: 20px;
}

.piechart {
        display: flex;
        margin-top: 40px;
        margin-left: 250px;
        width: 300px; 
        height: 300px; 
        border-radius: 50%; 
        background-image: conic-gradient( 
            pink 70deg,  
            lightblue 0 235deg,  
            orange 0); 
        float: right;
}

.weblabel label{
    color: #34495e;
    margin-left: 5px;
}
.webchat textarea{
    margin: 5px;
    background-color: transparent;
    border-color: #34495e;
    color: azure;
}
.webchat input {
    margin: 5px;
    background-color:transparent;
    color: azure;
    border: #34495e;
    width: 375px;
    border-width: 1px;
    border-style: solid;
}

.webchat button {

    margin-bottom: 50px;
    background-color: #141e30;
    margin-left: 5px;
    text-align: center;
    width: auto;
    font-size: 12px;
}


footer {
    color: azure;
    border: 0.5px solid #243b55;
	background-color: #141e30;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px;
}



/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}


